.vertical-center {
    display: flex;
    align-items: center;
    min-height: calc(100% - 40px);
    min-height: calc(100vh - 40px);
    border: 0;
}

.container {
    text-align: center;
}

#level {
    margin-bottom: 20px;
    text-align: center;
}

#input {
    margin-bottom: 20px;
}

#numbers, #submit {
    display: inline-block;
}

.outline {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    cursor: move !important;
}

.dark {
    color: #212529;
    background-color: #fff;
    border-color: #212529;
}

.sortable-chosen {
    opacity: 0.6;
}

.invalid {
    border-color: #dc3545;
}

.valid {
    border-color: #28a745;
}

#submitButton {
    width: 80px;
    height: 60px;
}

.output {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    pointer-events: none;
}

.extraCol {
    display: inline-block;
    width: 80px;
    line-height: 60px;
    padding-right: 20px;
    text-align: right;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}